*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.navigate-box{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navigate-menu{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.navigate-menu-list{
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
}
a{
    color: #000;
    text-decoration: none;
}
.navigation-menu-item{
    display: inline-block;
    text-decoration: none;
    margin: 32px 0px 32px 0px;
    padding: 0px 72px 0px 72px;
}
.img-div{
    justify-content: center;
    align-items: center;
    background: #00BDC9;
    padding: 0px 272px 0px 272px;
}
.content-div{
    padding: 88px 272px;
    flex-direction: column;
    align-items: center;
}
.content-head{
    align-self: stretch;
    color: #000;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 135%;
}
.content-p{
    color: #161616;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
    margin: 40px 272px 24px 272px;
    width: 856px;
}
.content-p-text{
    color: #04959E;
    font-size: 21px;
    font-weight: 600;
    line-height: 150%;
}
.content-p-list{
    width: 820px;
    color: #161616;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    margin: 0px 272px 40px 272px;
    padding: 0px 0px 0px 20px;
}
.button{
    display: inline-block;
    padding: 10px 24px;
    border: none;
    background: #04959E;
    color: white;
    margin: 0px 620px;
}
.button:active{
    color: white;
    background: #00BDC9;
}
hr {
    height: 1px;
    align-self: stretch;
    background: #161616;
}
.footer-p{
    color: #161616;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 30px;
}